.DS_Store
*.swp
*~.nib

build/

*.pbxuser
!default.pbxuser
*.perspective
*.perspectivev3
!default.perspectivev3

*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3

xcuserdata
*.xcuserdata
*.xcuserstate
*.xcworkspace
!default.xcworkspace

profile
*.moved-aside
DerivedData

# AppCode
.idea/